@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@400;700&display=swap");

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Encode Sans Expanded", sans-serif;
}
